{% load staticfiles %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'cabrides/style/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'cabrides/style/bootstrap-responsive.css' %}" />
<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .new-ride {
        margin-right: 10px;
      }
    </style>

</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">PennCab</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">My Rides</a></li>
            </ul>
             <form class="navbar-form pull-right" action="{% url 'cabrides:navbar_item' %}" method="post">
                {% csrf_token %}
              <button name="new_ride" type="submit" class="btn new-ride">Create a new taxi ride!</button>
              <button name="logout" type="submit" class="btn btn-inverse">Logout</button>
             </form>
          </div>
        </div>
      </div>
    </div>

<div class="container">
{% if latest_rides %}
    {% for ride_tup in latest_rides %}
      {% if not ride_tup.0.ride_in_past %}
        <div class="hero-unit">
          <div class="container">
              <h2>Cab to {{ ride_tup.0.destination }}</h2>
              <div class="row">
                  <div class="span4">
                        Leaving from: <b>{{ ride_tup.0.origin }}</b><br/>
                        On: <b>{{ ride_tup.0.ride_date|date:'l, F d Y' }}</b> at <b>{{ ride_tup.0.ride_date|date:'H:i A' }}</b><br/>
                        Owner: <b>{{ ride_tup.0.ride_owner }}</b><br/>
                        Max Riders: <b>{{ ride_tup.0.max_riders }}</b>
                  </div>
                  <div class="span7">
                        Riders: <br/>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              {% if not ride_tup.1 %}
                              <th>Phone Number</th>
                              {% endif %}
                            </tr>
                          </thead>
                          <tbody>
                            {% for rider in ride_tup.0.participants.all %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ rider.first_name }}</td>
                                <td>{{ rider.last_name }}</td>
                                {% if not ride_tup.1 %}
                                <td>{{ rider.phone_number }}</td>
                                {% endif %}
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>


                        {% if ride_tup.0.num_available_spots > 0 %}
                          <form action="{% url 'cabrides:add_rider' ride_tup.0.id %}" method="post">
                          {% csrf_token %}
                          {% if ride_tup.1 %}
                          <button name="join" type="submit" class="btn btn-primary pull-right">Join This Ride</button>
                          {% elif ride_tup.2 %}
                          <button name="drop" type="submit" class="btn btn-danger pull-right">Delete This Ride</button>
                          {% else %}
                          <button name="drop" type="submit" class="btn btn-danger pull-right">Leave This Ride</button>
                          {% endif %}
                          </form>
                        {% endif %}
                  </div>
              </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
{% else %}
    <p>No Rides are available.</p>
{% endif %}
    
    <hr>
      <footer>
        <p>Created with Django and Bootstrap</p>
      </footer>

</div> <!-- container -->
</body>

