{% load staticfiles %}

<head>
  <title>PennCab</title>
<link rel="stylesheet" type="text/css" href="{% static 'cabrides/style/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'cabrides/style/bootstrap-responsive.css' %}" />
<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .new-ride {
        margin-right: 10px;
      }
      .navbar-inverse .navbar-search .search-query {
        margin-top: 3px;
        height: 25px;
        /*background-color: #fff;*/
      }
      .accordion-group, .accordion-inner {
        border: none;
      }
      .accordion-heading .accordion-toggle {
        padding: 0px;
      }
      .map-canvas {
        height: 100%;
        width: 50%;
      }
    </style>

</head>

<body>
  <!-- Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url 'cabrides:index' %}">PennCab</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if user.is_authenticated %}
                {% if user_rides %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                <a href="{% url 'cabrides:view_user' %}">{{ user.first_name }}'s Rides</a></li> 
                <li><a href="{% url 'cabrides:new_ride' %}">Create new ride!</a></li>
              {% endif %}
            </ul>

            <div class="pull-right">
              <ul class="nav">
                <li> <button id="collapse-all" class="btn" onclick="collapseAll()" style="margin-right:8px; margin-top:8px;">
                  <i id="collapse-all-button" class="icon-chevron-up"></i></button>
                </li>
                <li>
                  <form class="navbar-search pull-left" action="{% url 'cabrides:search' %}" method="post">
                    {% csrf_token %}
                    <input name="search-term" type="text" class="search-query" placeholder="Search by destination">
                  </form>
                </li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'cabrides:logout_user' %}">Logout</a></li>
                {% else %}
                  <li><a href="{% url 'cabrides:login' %}">Sign in</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="container">
{% if latest_rides %}
    {% for ride_tup in latest_rides %}
        <div class="hero-unit" {% if ride_tup.0.num_available_spots < 1 and not ride_tup.1 %} style="color: #999;" {% endif %}>
          <div class="container">
              <h2>Cab to {{ ride_tup.0.destination }}</h2>
              <div class="row">
                  <div class="span4">
                        Leaving from: <b>{{ ride_tup.0.origin }}</b><br/>
                        On: <b>{{ ride_tup.0.ride_date|date:'l, F d Y' }}</b> at <b>{{ ride_tup.0.ride_date|date:'H:i A' }}</b><br/>
                        Owner: <b>
                          {% if user.is_authenticated %}
                            {{ ride_tup.0.ride_owner }}
                          {% else %}
                             Passenger 1
                          {% endif %}
                          </b><br/>
                        Available Spots: <b>{{ ride_tup.0.num_available_spots }}</b>
                  </div>
                  <div class="span7">
                        Riders: <br/>
                          <table class="table" {% if ride_tup.0.num_available_spots < 1 and not ride_tup.1 %} style="color: #999;" {% endif %}>
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              {% if user.is_authenticated and ride_tup.1 %}
                              <th>Phone Number</th>
                              {% endif %}
                            </tr>
                          </thead>
                          <tbody>
                            {% for rider in ride_tup.0.participants.all %}
                              <tr>
                                {% if user.is_authenticated %}
                                  <td>{{ forloop.counter }}</td>
                                  <td>{{ rider.first_name }}</td>
                                  <td>{{ rider.last_name }}</td>
                                  {% if ride_tup.1 %}
                                  <td>{{ rider.phone_number }}</td>
                                  {% endif %}
                                {% else %}
                                  <td>{{ forloop.counter }}</td>
                                  <td>Passenger</td>
                                  <td>{{ forloop.counter }}</td>
                                {% endif %}
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>

                          <form action="{% url 'cabrides:add_rider' ride_tup.0.id %}" method="post">
                            {% csrf_token %}
                            {% if not user.is_authenticated %}
                            <button type="disabled" class="btn btn-primary disabled pull-right" disabled="disabled">Sign in to join!</button>
                            {% elif ride_tup.2 %}
                            <button name="drop" type="submit" class="btn btn-danger pull-right">Delete This Ride</button>
                            {% elif ride_tup.1 %}
                            <button name="drop" type="submit" class="btn btn-danger pull-right">Leave This Ride</button>
                            {% elif ride_tup.0.num_available_spots > 0 %}
                            <button name="join" type="submit" class="btn btn-primary pull-right">Join This Ride</button>
                            {% else %}
                            <button type="disabled" class="btn btn-primary disabled pull-right" disabled="disabled">Ride is Full</button>
                            {% endif %}
                          </form>
                  </div>
              </div>

              <div class="row">
                <div class="span11">
                  <button style="font-size: 18px; font-weight: 200;" type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo{{ forloop.counter }}">
                    More Trip Details
                  </button>
                   
                  <div id="demo{{ forloop.counter }}" class="collapse in">
                    <div class="row" style="height: 50%;">
                      <div id="map-canvas{{ forloop.counter }}" class="span6 map-canvas"></div>
                      <div style="overflow: auto;" class="span4">
                        Distance: <b id="dist{{ forloop.counter }}"></b><br/>
                        Approximate time of travel: <b id="time{{ forloop.counter }}"></b><br/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
    {% endfor %}
{% else %}
    <p>No Rides are available.</p>
{% endif %}
    <hr>
      <footer>
        <p>Created by Boris Treskunov with <a href="http://www.djangoproject.com">Django</a> and <a href="http://twitter.github.com/bootstrap">Bootstrap</a></p>
      </footer>

</div> <!-- container -->

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="{% static 'cabrides/js/jquery.js' %}"></script>
  <script src="{% static 'cabrides/js/bootstrap.js' %}"></script>
  <script>
    var directionsService = new google.maps.DirectionsService();
    var arrowUp = true;

    // JavaScript to calculate routes for each cab ride
    function initialize() {
      var mapOptions = {
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      {% if latest_rides %}
      {% for ride_tup in latest_rides %}
        var directionsDisplay = new google.maps.DirectionsRenderer();
        var map = new google.maps.Map(document.getElementById('map-canvas{{ forloop.counter }}'), mapOptions);
        
        directionsDisplay.setMap(map);
        calcRoute("{{ ride_tup.0.origin }}", "{{ ride_tup.0.destination }}", directionsDisplay, {{ forloop.counter }});
      {% endfor %}
      {% endif %}
    }

    function calcRoute(start, end, directionsDisplay, i) {
      var request = {
        origin: start,
        destination: end,
        travelMode: google.maps.DirectionsTravelMode.DRIVING
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          $('#dist'+i).html((response.routes[0].legs[0].distance.value*0.00062137119).toFixed(1) + " miles");
          $('#time'+i).html((response.routes[0].legs[0].duration.value/60).toFixed(1) + " minutes");
          directionsDisplay.setDirections(response);
        }
      });
    }

    // JavaScript for button to collapse (or expand) all detail views
    function collapseAll() {
      {% if latest_rides %}
      {% for ride_tup in latest_rides %}
        $("#demo{{ forloop.counter }}").collapse('toggle');
      {% endfor %}
      if (arrowUp) {
          $('#collapse-all-button').removeClass('icon-chevron-up').addClass('icon-chevron-down');
        } else {
          $('#collapse-all-button').removeClass('icon-chevron-down').addClass('icon-chevron-up');
        }
        arrowUp = !arrowUp;
      {% endif %}
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</body>