{% load staticfiles %}
<head>
  <title>PennCab</title>
	<link rel="stylesheet" type="text/css" href="{% static 'cabrides/style/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'cabrides/style/bootstrap-responsive.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'cabrides/style/datepicker.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'cabrides/style/timepicker.css' %}" />

	<style type="text/css">
      body {
        padding-top: 30px;
        padding-bottom: 30px;
        /*background-color: #f5f5f5;*/
      }
      .form-new-ride label {
      	font-size: 15px;
      }
      .form-new-ride input[type="text"],
      .form-new-ride input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .long {
      	width: 30%;
      }
	.navbar-inverse .navbar-search .search-query {
        margin-top: 3px;
        height: 25px;
        /*background-color: #fff;*/
      }
    </style>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url 'cabrides:index' %}">PennCab</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                {% if user.is_authenticated %}
              	<li><a href="{% url 'cabrides:view_user' %}">{{ user.first_name.title }}'s Rides</a></li> 
                <li class="active"><a href="#">Create new ride!</a></li>
              {% endif %}
            </ul>

            <div class="pull-right">
              <ul class="nav">
                <li>
                  <form class="navbar-search pull-left" action="{% url 'cabrides:search' %}" method="post">
                    {% csrf_token %}
                    <input name="search-term" type="text" class="search-query" placeholder="Search by destination">
                  </form>
                </li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'cabrides:logout_user' %}">Logout</a></li>
                {% else %}
                  <li><a href="{% url 'cabrides:login' %}">Sign in</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


	<div style="margin-top: 25px" class="container">
		<form class="form-new-ride" action="{% url 'cabrides:create_ride' %}" method="post">
	    {% csrf_token %}
	    <legend>Create A New Cab Ride Below!</legend>
			<label>Origin*</label>
	    	<input class="long" name="origin" type="text" placeholder="Where will the cab be picking you up?">

	    	<label>Destination*</label>
	    	<input class="long" name="destination" type="text" placeholder="What is your cab's final destination?">

	    	<label>Date*</label>
	    	<input id="dp" name="date" type="text" value={% now 'm/d/Y' %}>

	    	<label>Time*</label>
	    	<div class="bootstrap-timepicker">
	    		<input id="tp" name="time" type="text" value={% now 'h:iA' %} class="input-small">
	    		<i class="icon-time"></i>
	    	</div>

	    	<label>Max Number of Passenger*</label>
	    	<input name="max_riders" type="text" value="4"> <br/>

	    	<button style="margin-top: 10px" type="submit" class="btn btn-primary">Create Ride</button>
		</form>
	</div>


	<script src="{% static 'cabrides/js/jquery.js' %}"></script>
	<script src="{% static 'cabrides/js/bootstrap.js' %}"></script>
	<script src="{% static 'cabrides/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'cabrides/js/bootstrap-timepicker.js' %}"></script>

	<script>
	$('#dp').datepicker({
				autoclose: true
			});
		$(function(){

			$('#tp').timepicker({
				template: false,
				showInputs: false,
				minuteStep: 5
			});
		});
	</script>
</body>