{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'cabrides/style/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'cabrides/style/bootstrap-responsive.css' %}" />
	<style type="text/css">
      body {
        padding-top: 30px;
        padding-bottom: 30px;
        /*background-color: #f5f5f5;*/
      }
      .form-signup label {
      	font-size: 15px;
      }
      .form-signup input[type="text"],
      .form-signup input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
</head>

<body>
	<div class="container">
		<form class="form-signup" action="{% url 'cabrides:signup_user' %}" method="post">
	    {% csrf_token %}
	    <legend>Create Account Below</legend>
			<label>First name*</label>
	    	<input style="width:14%" name="first_name" type="text">

	    	<label>Last name*</label>
	    	<input name="last_name" type="text">

	    	<label>Phone number*</label>
	    	<input id="pnInput" style="width:14%" name="phone_number" type="text" placeholder="###-###-####">

	    	<div class="control-group">
	    	<label for="emailInput">Email address*</label>
	    	<input id="emailInput" name="email" type="text">
	    	<span id="emailErrorHelp" class="help-inline hidden">Please enter a valid Penn email.</span>
			</div>

			<div class="control-group">
	    	<label>Password*</label>
	    	<input id="p1" name="password1" type="password">
	    	<span id="p1ErrorHelp" class="help-inline hidden">Your Password do not match!</span>
	    	</div>

	    	<div class="control-group">
	    	<label>Confirm Password*</label>
	    	<input id="p2" name="password2" type="password"> 
	    	</div>
	    	<br/>

	    	<button style="margin-top: 10px" type="submit" id="submit-button" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<script src="{% static 'cabrides/js/jquery.js' %}"></script>
	<script src="{% static 'cabrides/js/bootstrap.js' %}"></script>
	<script>
		$(document).ready(function() {
		    $('#pnInput').keydown(function(event) {
		        // Allow: backspace, delete, tab, escape, and enter
		        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
		             // Allow: Ctrl+A
		            (event.keyCode == 65 && event.ctrlKey === true) || 
		             // Allow: home, end, left, right
		            (event.keyCode >= 35 && event.keyCode <= 39)) {
		                 return;
		        }
		        else {
		            // Ensure that it is a number and stop the keypress
		            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )
		            	|| $('#pnInput').val().length >= 12) {
		                event.preventDefault();
		            }   
		        }

		        if($('#pnInput').val().length == 3 || $('#pnInput').val().length == 7) {
		            event.target.value = event.target.value + "-";
		       }
		    });

		    $("form").submit(function(){
		    	var all_good = true;
		    	if ($('#emailInput').val().indexOf("upenn") < 0) {
		    		$('#emailInput').parent('div').addClass('error');
		    		$('#emailErrorHelp').removeClass('hidden');
		    		all_good = false;
		    	} else if ($('#p1').val() != $('#p2').val()) {
		    		$('#p1').parent('div').addClass('error');
		    		$('#p2').parent('div').addClass('error');
		    		$('#p1ErrorHelp').removeClass('hidden');
		    		all_good = false;
		    	}
		    	return all_good;
		    })
		});
	</script>
</body>